#fade-slider,
#slide-slider {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  text-align: center;
}

#fade-slider > img,
#slide-slider > img {
  max-width: 200px;
  max-height: 200px;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

#fade-prev, #fade-next,
#slide-prev, #slide-next {
  font-size: 20px;
  margin: 50px;
  cursor: pointer;
}

.big-container {
  width: 70%;
  margin: auto;
}

.big-container,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  max-width: 50%;
}

form > input {
  padding: 5px 20px;
}

.container {
  display: flex;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#addSliderPic,
#deleteBtn {
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  color: #fff;
  padding: 10px 20px;
}

#deleteBtn {
  background-color: red;
  border: 1px solid red;

  width: 40%;
  margin: auto;
}

#addSliderPic {
  background-color: blue;
  border: 1px solid blue;
}
