#fade-slider,
#slide-slider {
  border: 1px solid #000;
  max-width: 200px;
  max-height: 200px;
}

#fade-slider > img,
#slide-slider > img {
  max-width: 200px;
  max-height: 200px;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

#fade-prev, #fade-next,
#slide-prev, #slide-next {
  font-size: 20px;
  margin: 50px;
  cursor: pointer;
}

.container {
  display: flex;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
